#
# Declare the repositories we know about:
#

create repository opensim-core
end repository

create repository cfsqp
end repository

#
# Declare the rules
# Note: rules for directories must end in a slash
#

match /Trunk/Gui/
end match

match /Trunk/OpenSim/Java/OpenSimJNI/OpenSimJNI_wrap.*
end match

#
# TODO this match isn't working.
match /Trunk/OpenSim/Wrapping/Java/OpenSimJNI/OpenSimJNI_wrap.*
end match

#
# This only partially works; opensim-core is still cluttered with CFSQP stuff.
match /Trunk/Vendors/CFSQP/
  repository cfsqp
  branch master
end match

match /Trunk/
  repository opensim-core
  branch master
end match

# TODO
# Note how we can use regexp to capture the repository name
#match /Branches/([^/]+)/
#  repository core
#  branch \2
#end match

match /
end match

# No tag processing
