#
# Declare the repositories we know about:
#

create repository opensim-gui
end repository

create repository opensim-core
end repository

create repository opensim-wrapping
end repository

create repository opensim-cfsqp
end repository

create repository opensim-models
end repository

#
# Declare the rules
# Note: rules must end in a slash
#

match /Trunk/(ApiDoxygen.cmake|CMakeLists.txt|Copyright.txt|CTestConfig.cmake|Doxyfile.in|FindSimbody.cmake)
  repository opensim-core
  prefix \1
  branch master
end match

match /Trunk/NOTICE
  repository opensim-core
  prefix LICENSE.txt
  branch master
end match

match /Trunk/Applications/
  repository opensim-core
  prefix applications/
  branch master
end match

match /Trunk/Gui/
  repository opensim-gui
  branch master
end match

match /Trunk/OpenSim/Utilities/
  repository opensim-core
  prefix utilities/
  branch master
end match

match /Trunk/OpenSim/Tests/
  repository opensim-core
  prefix tests/
  branch master
end match

match /Trunk/OpenSim/Examples/
  repository opensim-core
  prefix examples/
  branch master
end match

match /Trunk/OpenSim/Auxiliary/
  repository opensim-core
  prefix tests/
  branch master
end match

match /Trunk/OpenSim/doc/
  repository opensim-core
  prefix doc/
  branch master
end match

match /Trunk/OpenSim/OpenSimDoxygenMain.h
  repository opensim-core
  prefix doc/
  branch master
end match

match /Trunk/OpenSim/Java/OpenSimJNI/OpenSimJNI_wrap.*
end match

match /Trunk/OpenSim/Wrapping/
  repository opensim-wrapping
  branch master
end match

match /Trunk/OpenSim/
  repository opensim-core
  prefix OpenSim/
  branch master
end match

match /Trunk/OpenSim/Vendors/lepton/
  repository opensim-core
  prefix external/
  branch master
end match

match /Trunk/Models/
  repository opensim-models
  branch master
end match

match /Trunk/Vendors/CFSQP/
  repository opensim-cfsqp
  branch master
end match

#match /Trunk/
#  repository opensim-core
#  branch master
#end match

# Note how we can use regexp to capture the repository name
#match /Branches/([^/]+)/
#  repository core
#  branch \2
#end match

match /
end match

# No tag processing
